@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-primary;
    }
}

.column::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.column::-webkit-scrollbar-track {
}

/* Handle */
.column::-webkit-scrollbar-thumb {
    background-color: #9fafdb;
    border: 3px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
}

/* Handle on hover */
.column::-webkit-scrollbar-thumb:hover {
}
